@import url(base.css);
.c{
	width: 100%;
	height: 4.7rem;
	background-image:-webkit-linear-gradient(top,#55b3eb,#71d5f6);
	
}
body{
	background: #ccc;
	width: 100%;
}
.city{
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.16rem;
	text-align: center;
	color: #fff;
}
.zd{
	width: 100%;
	height: 0.63rem;
	padding-left: 0.08rem;
	box-sizing:border-box;
}
.zd1{
	width: 0.72rem;
	height: 0.45rem;
	background:#ef7f77 ;
	border-radius:0.1rem;
	font-size:0.12rem ;
	color: #fff;
	text-align: center;
	padding-top:0.09rem ;
	box-sizing: border-box;

}
.zd1 span{
	display: block;
}
.zd1 span:first-of-type{
	margin-bottom: 0.09rem;
}
.zb{
	width: 100%;
	height: 1.43rem;
	font-size:0.46rem ;
	color: #fff;
}
.jd{
	width:100%; 
	height: 0.49rem;
	text-align: center;
	box-sizing: border-box;
	padding-left:0.22rem ;
}
.jd span{
	font-size:0.5rem ;
	color: #fff;
	
}
.jt{
	width:100%; 
	height: 0.46rem;
	text-align: center;
}
.jt span{
	font-size:0.22rem ;
	color: #fff;
	
}
.jf{
	width:100%; 
	height: 0.22rem;
	text-align: center;
	display: flex;
	box-sizing: border-box;
	padding-left:1.23rem ;
	padding-right:1.23rem ;
	justify-content: space-between;
	margin-top:0.1rem;
}
.jf span{
	display: block;
	font-size:0.14rem ;
	color: #fff;
	
}
.tp{
	width: 100%;
	height:2.14rem ;
	background:url('../img/screen.png') no-repeat bottom/contain, url('../img/yuel.png') no-repeat  bottom/cover, url('../img/screen2.png') no-repeat bottom/contain;
}
.jm{
	width:100%; 
	height:1.38rem; 
	background:#fff ;
	overflow-x:auto;
	margin-top: 0.1rem;
}
.jm::-webkit-scrollbar{
	height: 0;
}
.jm ul{
	height:1.38rem;
	display: flex;

}
.jm ul li{
	width: 0.5rem;
	height: 1.38rem;
	flex-shrink: 0;
	
	
}
.jm ul li div{
	width: 100%;
	height: 33.5%;
	font-size:0.09rem ;
	color: #6c436c;
	text-align: center;
	line-height: 0.4rem;

}
.jm ul li div:nth-of-type(2){
	
	height: 30%;
	margin-top: 0.08rem;

}
.jm ul li div img{
	width: 0.23rem;
	height: 0.23rem;
	margin: 0.05rem auto;
	
	
}
.hz1{
	width:100%; 
	height:3.89rem; 
	background: #fff; 
	overflow: hidden;
	overflow-x:auto;
	margin-top: 0.1rem;
	
}
.hz1::-webkit-scrollbar{
	height: 0;
}
.hz2{
	width:auto;
	height:3.89rem; 
	
	

}
.zjt{
	width:auto;
	height:1.22rem; 
	
	display: flex;
}
.zjt .zjt1{
	width:0.7rem; 
	height:1.22rem; 

	flex-shrink: 0;
}

.zjt1 div:nth-of-type(1){
	width:100%;
	height:0.39rem; 
	font-size:0.12rem ;
	color:#999 ;
	text-align: center;
	line-height: 0.39rem;
}
.zjt1 div:nth-of-type(2){
	width:100%;
	height:0.17rem; 
	font-size:0.12rem ;
	color:#999 ;
	text-align: center;
	line-height: 0.17rem;
}
.zjt1 div:nth-of-type(3){
	width:100%;
	height:0.38rem; 
	font-size:0.14rem ;
	color:#000 ;
	text-align: center;
	line-height: 0.38rem;
}
.zjt1 div:nth-of-type(4){
	width:100%;
	height:0.28rem; 
}
.zjt1 div img{
	width: 0.22rem;
	height: 0.22rem;
	margin: 0 auto;
}
.zst{
	width:auto;
	height:1.34rem; 
	display: flex;
	
}
.zst .zst1{
	width:0.7rem; 
	height:1.34rem; 

	flex-shrink: 0;
}
.zst1 div:nth-of-type(1){
	width:100%;
	height:50%; 
	font-size:0.14rem ;
	color:#000 ;
	text-align: center;
	line-height: 0.67rem;
}
.zst1 div:nth-of-type(2){
	width:100%;
	height:50%; 
	font-size:0.14rem ;
	color:#000 ;
	text-align: center;
	line-height: 0.67rem;
}
.tqt{
	width:auto;
	height:1.33rem; 
	
	display: flex;
}
.tqt .tqt1{
	width:0.7rem; 
	height:1.33rem; 
	
	flex-shrink: 0;
}
.tqt1 div:nth-of-type(1){
	width:100%;
	height:0.3rem; 
	
}
.tqt1 div:nth-of-type(2){
	width:100%;
	height:0.35rem; 
	font-size:0.14rem ;
	color:#000 ;
	text-align: center;
	line-height: 0.35rem;
}
.tqt1 div:nth-of-type(3){
	width:100%;
	height:0.28rem; 
	font-size:0.12rem ;
	color:#999 ;
	text-align: center;
	line-height: 0.28rem;
}
.tqt1 div:nth-of-type(4){
	width:100%;
	height:0.15rem; 
	font-size:0.12rem ;
	color:#999 ;
	text-align: center;
	line-height: 0.15rem;
}
.tqt1 div img{
	width: 0.23rem;
	height: 0.23rem;
	margin: 0 auto;
}
.jmw{
	width:100%; 
	height:1.02rem;
	background: #fff; 


}
.jmw1{
	width:25%; 
	height:1.02rem;
	float: left;
	padding-top: 0.25rem;
	box-sizing: border-box;
	
}
.jmw2{
	width:100%; 
	height:0.52rem;
	
	

}
.jmw2 .d{
	width:100%; 
	height:0.26rem;
	font-size:0.14rem ;
	color:#434343 ;
	padding-left:0.2rem ;
	box-sizing: border-box;
	line-height: 0.26rem;
}
.jmw2 .dt{
	width:100%; 
	height:0.26rem;
	font-size:0.14rem ;
	color:#434343 ;
	padding-left:0.2rem ;
	box-sizing: border-box;
	line-height: 0.26rem;
}
.dt img{
	width: 0.23rem;
	height:0.23rem ;
	float: right;
	margin-right: 0.15rem;
}